:root {
  --duration-fast: 0.8s;
  --duration-medium: 1s;
  --delay-initial: var(--duration-fast);
  --delay-mid: calc(var(--delay-initial) + var(--duration-medium));
  --delay-late: calc(var(--delay-mid) + var(--duration-medium));
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.1);
  }
}

@keyframes slide-up-diagonal {
  0% {
    transform: translate(-15vw, -15vh) scale(0.8);
    opacity: 0;
  }

  100% {
    transform: translate(-8vw, -18vh) scale(1);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  @keyframes slide-up-diagonal {
    0% {
      transform: translate(-15vw, -9vh) scale(0.8);
      opacity: 0;
    }

    100% {
      transform: translate(-8vw, -12vh) scale(1);
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  @keyframes slide-up-diagonal {
    0% {
      transform: translate(-13vw, 0vh) scale(0.8);
      opacity: 0;
    }

    100% {
      transform: translate(-6vw, -3vh) scale(1);
      opacity: 1;
    }
  }
}

@media (max-width: 576px) {
  @keyframes slide-up-diagonal {
    0% {
      transform: translate(-13vw, 0vh) scale(0.8);
      opacity: 0;
    }

    100% {
      transform: translate(-10vw, -3vh) scale(1);
      opacity: 1;
    }
  }
}
.animate-fade-in {
  opacity: 0;
  animation: fade-in var(--duration-medium) ease-in-out forwards;
}

.animate-fade-in-up {
  opacity: 0;
  animation: fade-in-up var(--duration-medium) ease-in-out forwards;
}

.animate-grow {
  transform: scale(0);
  animation: grow var(--duration-fast) ease-in-out forwards;
}

.animate-slide-up-diagonal {
  opacity: 0;
  animation: slide-up-diagonal var(--duration-medium) cubic-bezier(0.18, -0.01, 0.11, 0.98) forwards;
}

.delay-initial {
  animation-delay: var(--delay-initial);
}
.delay-mid {
  animation-delay: var(--delay-mid);
}
.delay-late {
  animation-delay: var(--delay-late);
}
