.container {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  padding: 0 65px;
  justify-content: center;
}

.row-full {
  grid-column: span 12 / span 12;
}

.row-6 {
  grid-column: span 6 / span 6;
}

@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    padding: 0 30px;
    justify-content: center;
  }
}
